// Place all the styles related to the Dict controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-width {
  width: 60%;
  height: 50px;
}

footer {
  margin-top: 3rem;
}
