<section class="education">
  <div class="container">

    <div class="row">
     <div class="col-sm-12 text-center mb-5 wow zoomIn">
       <h2 class="section-title">
         education
       </h2>
       <span class="background-text">education</span>
     </div>
    </div> <!-- END row-->

    <div class="row">

      <div class="col-md-6 mt-5">
       <div class="edu-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
         <p class="edu-session">2009 - 2013</p>
          <div class="edu-info-text">
            <h4 class="block-title">
              Liceul Teoretic Callatis
            </h4>
            <h6 class="institute-name mb-4 mt-3">
              Mangalia, Romania
            </h6>
            <p>
              High School Student in Mangalia, Romania, part of a humanities class.
            </p>
          </div>
        </div> <!--END edu-block-->
      </div> <!-- END col-md-6 -->

      <div class="col-md-6 mt-5">
       <div class="edu-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
         <p class="edu-session">2015 - 2021</p>
          <div class="edu-info-text">
            <h4 class="block-title">
              Facultatea de Medicina Ovidius
            </h4>
            <h6 class="institute-name mb-4 mt-3">
              Constanta, Romania
            </h6>
            <p>
              Second year Medical Student, en route to graduate in 2021.
            </p>
          </div>
        </div> <!--END edu-block-->
      </div> <!-- END col-md-6 -->

    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END education-->
