<nav id="nav">
  <div class="sm-nav-toggler">
    <span class="lnr lnr-menu"></span>
    <span class="lnr lnr-cross"></span>
  </div>
  <ul class="main-menu">
   <li>
     <a href="index.html">
       <span class="lnr lnr-home"></span>
       <span class="nav-text">home</span>
     </a>
   </li>
   <li>
     <a class="scrolling" href="index.html#about">
       <span class="lnr lnr-user"></span>
       <span class="nav-text">About</span>
     </a>
   </li>
   <li>
     <a href="resume.html">
       <span class="lnr lnr-license"></span>
       <span class="nav-text">resume</span>
     </a>
   </li>
   <li>
     <a href="services.html">
       <span class="lnr lnr-cog"></span>
       <span class="nav-text">services</span>
     </a>
   </li>
   <li>
     <a href="portfolio.html">
       <span class="lnr lnr-briefcase"></span>
       <span class="nav-text">portfolio</span>
     </a>
   </li>
   <li>
     <a href="blog.html">
       <span class="lnr lnr-leaf"></span>
       <span class="nav-text">blog</span>
     </a>
   </li>
   <li>
     <a href="contact.html">
       <span class="lnr lnr-phone-handset"></span>
       <span class="nav-text">Contact</span>
     </a>
   </li>
  </ul>
  <div class="menu-bg"></div>
</nav>
